@charset "UTF-8";

span.title01 { 
	
	font-size: 50px;
	color: #004080;
	font-family: 한컴 말랑말랑;
	font-weight: bold;
	
}

span.title02 {
	
	font-size: 20px;
	color: #c8c8c8;
	font-family: 휴먼아미체;
	
}

span.title03 {
	
	font-size: 40px;
	color: #808080;
	font-family: Arial;
	font-weight: bold;
}

span.title04 {
	
	font-size: 30px;
	color: #fefefe;
	font-family: Arial;
	font-weight: bold;
}
























